@import "lib/prefix_mixin_lib";
@import "lib/anim_and_shadow_mixin";
.bounce-indeterm_all {
  width: 58px;
  height: 30px;
  background-color: rgba(157, 157, 157, 0);
  z-index: 100;
}
.bounce-indeterm_1 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ff0101;
  border-radius: 50%;
  margin-top: 8px;
  margin-left: 2px;
  animation: bounce1 0.8s ease-in-out infinite;
  animation-delay: 0.9s;
}
.bounce-indeterm_2 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #0041f0;
  border-radius: 50%;
  margin-left: 16px ;
  margin-top: 8px;
  animation: bounce2 0.8s ease-in-out infinite;
  animation-delay: 0.8s;
}
.bounce-indeterm_3 {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffe200;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 8px;
  animation: bounce3 0.8s ease-in-out infinite;
  animation-delay: 0.7s;
}
@keyframes bounce1 {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 10px;
  }
}
@keyframes bounce2 {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 10px;
  }
}
@keyframes bounce3 {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 10px;
  }
}
.bounce-determ {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ff2323;
  animation: bounce 5s ease-in-out infinite;
}
@keyframes bounce {
  0% {
    background-color: #ff2323;
  }
  50% {
    background-color: #ffeb00;
  }
  100% {
    background-color: #00ff45;
  }
}
.linear-indererm {
  border: none;
  width: 400px;
  height: 7px;
  background-color: #fff;
  animation: anim2 2s ease-in-out infinite;
}
@keyframes anim2 {
  from {
    width: 0px;
  }
  to {
    width: 400px;
  }
}
.linear-determ {
  border: none;
  width: 100% auto;
  height: 7px;
  background-color: #48d3d3;
  animation: anim1 5s ease-in-out infinite;
}
@keyframes anim1 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.load-buff-audio {
  width: 350px;
  height: 4px;
  overflow: hidden;
  background-color: #ccc;
}
.buff-audio {
  width: 350px;
  height: 4px;
  background: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.7) 3px, transparent 3px, transparent 7px);
  animation: load 9s linear infinite;
}
@keyframes load {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0;
  }
}
.load-file {
  width: 220px;
  height: 10px;
  overflow: hidden;
  background-color: #efefef;
}
.load-buff {
  width: 220px;
  height: 10px;
  background: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.7) 3px, transparent 3px, transparent 7px);
  animation: loadfl 7s linear infinite;
}
@keyframes loadfl {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0;
  }
}
@import "lib/colors";
.small-btn {
  border: none;
  box-shadow: 0px 4px 8px #969696;
  background-color: __Teal[_t400];
  cursor: pointer;
  width: 120px;
  height: 50px;
}
.middle-btn {
  border: none;
  box-shadow: 0px 4px 8px #969696;
  background-color: __Teal[_t400];
  cursor: pointer;
  width: 160px;
  height: 35px;
}
.big-btn {
  border: none;
  box-shadow: 0px 4px 8px #969696;
  background-color: __Teal[_t400];
  cursor: pointer;
  width: 200px;
  height: 90px;
}
.flat-btn {
  border: none;
  cursor: pointer;
  background-color: rgba(0, 245, 255, 0);
  width: 100px;
  height: 30px;
}
:hover {
  background-color: #d4d4d4;
}
.submit {
  border: none;
  box-shadow: 0px 4px 8px #969696;
  background-color: __Teal[_t400];
  cursor: pointer;
  width: 90px;
  height: 30px;
}
.oneclick-btn_sqr {
  border: none;
  box-shadow: 0px 4px 8px #969696;
  background-color: __Teal[_t400];
  cursor: pointer;
  width: 60px;
  height: 60px;
}
.oneclick-btn_c {
  border: none;
  box-shadow: 0px 4px 8px #969696;
  background-color: __Teal[_t400];
  cursor: pointer;
  border-radius: 50%;
  width: 65px auto;
  height: 35px;
}
* {
  font-family: RobotoMedium, sans-serif;
  font-size: 15px;
}
.date-field,
.dt-field,
.dtl-field,
.email-field,
.month-field,
.number-field,
.password-field,
.search-field,
.tel-field,
.text-field,
.time-field,
.url-field,
.week-field,
.txtarea-field,
.select-field {
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: #fff;
  border-bottom-color: #ccc;
  border-bottom-width: 2px;
}
.color-field {
  background-color: rgba(204, 204, 204, 0);
  width: 40px;
  height: 40px;
  border: none;
}
select option {
  background-color: #fff;
  border: none;
  box-shadow: 0px 4px 8px #969696;
}
.checkbox_APP {
  position: relative;
  margin: 25px;
}
.checkbox_APP:focus {
  outline-color: #fff;
}
.checkbox_APP:before {
  border: 2px solid #ccc;
  content: "";
  cursor: pointer;
  display: block;
  height: 35px;
  position: absolute;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 65px auto;
  z-index: 1;
}
.material_checkbox:checked:before {
  border-top-style: none;
  border-right-style: none;
  height: 10px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.material_checkbox:after {
  background: #fff;
  content: "";
  display: block;
  height: 35px;
  position: absolute;
  top: 0;
  width: 65px auto;
  z-index: 0;
}
.checkbox_APP_red:checked:before {
  border-color: #e51c23;
}
.checkbox_APP_purple:checked:before {
  border-color: #9c27b0;
}
.checkbox_APP_deep_purple:checked:before {
  border-color: #673ab7;
}
.checkbox_APP_indigo:checked:before {
  border-color: #3f51b5;
}
.checkbox_APP_blue:checked:before {
  border-color: #5677fc;
}
.checkbox_APP_light_blue:checked:before {
  border-color: #03a9f4;
}
.checkbox_APP_cyan:checked:before {
  border-color: #00bcd4;
}
.checkbox_APP_teal:checked:before {
  border-color: #009688;
}
.checkbox_APP_green:checked:before {
  border-color: #259b24;
}
.radio_APP {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  width: 500px;
  margin: auto;
  margin-top: 50px;
}
.radio_APP {
  position: relative;
  margin: 25px;
}
.radio_APP:before {
  border: 3px solid #ccc;
  border-radius: 100%;
  content: "";
  cursor: pointer;
  display: block;
  height: 35px;
  position: absolute;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 65px auto;
  z-index: 1;
}
.radio_APP:checked {
  -moz-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -o-transform: scale(0.75);
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  background: #ccc;
}
.radio_APP:after {
  background: #fff;
  content: "";
  display: block;
  height: 35px;
  position: absolute;
  top: 0;
  width: 65px auto;
  z-index: 0;
}
.radio_APP_red:checked:before {
  background-color: #e51c23;
}
.radio_APP_purple:checked:before {
  background-color: #9c27b0;
}
.radio_APP_deep_purple:checked:before {
  background-color: #673ab7;
}
.radio_APP_indigo:checked:before {
  background-color: #3f51b5;
}
.radio_APP_blue:checked:before {
  background-color: #5677fc;
}
.radio_APP_light_blue:checked:before {
  background-color: #03a9f4;
}
.radio_APP_cyan:checked:before {
  background-color: #00bcd4;
}
.radio_APP_teal:checked:before {
  background-color: #009688;
}
.radio_APP_green:checked:before {
  background-color: #259b24;
}
.small-img-circle {
  background-color: #f0f0f0;
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.middle-img-circle {
  background-color: #f0f0f0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.big-img-circle {
  background-color: #f0f0f0;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.small-img-square {
  background-color: #f0f0f0;
  width: 72px;
  height: 72px;
}
.middle-img-square {
  background-color: #f0f0f0;
  width: 120px;
  height: 120px;
}
.big-img-square {
  background-color: #f0f0f0;
  width: 160px;
  height: 160px;
}
.simple-header {
  width: 100% auto;
  height: 50px;
  border: none;
  box-shadow: #fff, 0px, 4px, 10px;
}
.post-header {
  width: 100% auto;
  height: 35px;
  border: none;
  box-shadow: #fff, 0px, 4px, 10px;
}
.small-section_nav {
  width: 50px auto;
  height: auto;
  box-shadow: #fff, 0px, 4px, 10px;
  border: none;
}
.def-section_nav {
  width: 100px auto auto;
  height: 120px auto;
  box-shadow: #fff, 0px, 4px, 10px;
  border: none;
}
article {
  width: inheirt;
  height: 70px auto;
  border: none;
}
section,
aside {
  width: 500px;
  height: auto;
  border: none;
  box-shadow: #fff, 0px, 4px, 10px;
}
.big-footer {
  width: 100% auto auto;
  height: 200px auto;
  position: pos;
}
.middle-footer {
  width: 50% auto auto;
  height: 70px auto;
  position: pos;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.page-circle {
  display: inline-block;
  margin-right: 15px;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
}
.page-square {
  display: inline-block;
  margin-right: 12px;
  border: none;
  width: 37px;
  height: 37px;
  padding: 10px 5px 10px 5px;
}
.tabs {
  display: none ;
}
.tabs label {
  display: block ;
  border: none;
  font-size: 23px;
  font-family: RobotoCondensed-Light sans-serif;
  color: grey;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  transition: border-bottom-color 0.7s, border-bottom-width 0.5s;
}
.tabs label label:hover {
  cursor: pointer;
  color: #ccc;
  background-color: rgba(234, 234, 234, 0.25);
}
.tabs label input:checked + label {
  border-bottom: solid;
  border-bottom-width: 2px ;
}
@import "lib/colors";
th {
  border-bottom: solid;
  border-bottom-color: clr;
  border-bottom-width: width;
  background-color: bclr;
}
.simple-cell {
  border-bottom: solid;
  border-bottom-color: clr;
  border-bottom-width: width;
  background-color: bclr;
}
.cell-white {
  border-bottom: solid;
  border-bottom-color: clr;
  border-bottom-width: width;
  background-color: bclr;
}
.cell-gray {
  border-bottom: solid;
  border-bottom-color: clr;
  border-bottom-width: width;
  background-color: bclr;
}
.cell-frame {
  border-bottom: solid;
  border-bottom-color: clr;
  border-bottom-width: width;
  background-color: bclr;
  border-left: 1px;
  border-top: 1px;
  border-right: 1px;
}
.cell-right {
  border-bottom: solid;
  border-bottom-color: clr;
  border-bottom-width: width;
  background-color: bclr;
}
.cell-implemented {
  border-bottom: solid;
  border-bottom-color: clr;
  border-bottom-width: width;
  background-color: bclr;
}
.cell-error {
  border-bottom: solid;
  border-bottom-color: clr;
  border-bottom-width: width;
  background-color: bclr;
}
.borderless-cell {
  border: none;
  background-color: __BM[_white];
}
.hover-cell {
  border-bottom: solid;
  border-bottom-color: clr;
  border-bottom-width: width;
  background-color: bclr;
}
.hover-cell:hover {
  border-bottom: solid;
  border-bottom-color: clr;
  border-bottom-width: width;
  background-color: bclr;
}
.def_ch-ps {
  width: 70px auto;
  height: 30px auto;
  border-radius: 30px;
  background-color: #fff;
  color: black;
  font-size: 16px;
  font-family: Roboto-Light;
}
.err-chips {
  width: 50px auto;
  height: 25px auto;
  border-radius: 30px;
  background-color: #ffebee;
  color: #ffcdd2;
  font-size: 15px;
  font-family: Roboto-Light;
}
.info-chips {
  width: 60px auto;
  height: 37px auto;
  border-radius: 30px;
  background-color: #e0f2f1;
  color: #b2dfdb;
  font-size: 17px;
  font-family: Roboto-Light;
}
.tooltip-left::before {
  content: attr(data-tooltip);
  font-size: 16px;
  font-family: Roboto-Light sans-serif;
  opacity: 0;
  visibility: hidden;
  background-color: black;
  color: #ffffff;
  padding: 10px 5px 10px 5px;
  width: 65px auto;
  height: 35px;
  transition: opacity 0.7s;
}
.tooltip-right::before {
  content: attr(data-tooltip);
  font-size: 16px;
  font-family: Roboto-Light sans-serif;
  opacity: 0;
  visibility: hidden;
  background-color: black;
  color: #ffffff;
  padding: 10px 5px 10px 5px;
  width: 65px auto;
  height: 35px;
  transition: opacity 0.7s;
}
.tooltip-top::before {
  content: attr(data-tooltip);
  font-size: 16px;
  font-family: Roboto-Light sans-serif;
  opacity: 0;
  visibility: hidden;
  background-color: black;
  color: #ffffff;
  padding: 10px 5px 10px 5px;
  width: 65px auto;
  height: 35px;
  transition: opacity 0.7s;
}
.tooltip-bottom::before {
  content: attr(data-tooltip);
  font-size: 16px;
  font-family: Roboto-Light sans-serif;
  opacity: 0;
  visibility: hidden;
  background-color: black;
  color: #ffffff;
  padding: 10px 5px 10px 5px;
  width: 65px auto;
  height: 35px;
  transition: opacity 0.7s;
}
.tooltip-right::after .tooltip-left::after .tooltip-top::after .tooltip-bottom::after .tooltip-left .tooltip-right .tooltip-top .tooltip-bottom:hover::before .tooltip-left .tooltip-right .tooltip-top .tooltip-bottom:hover::after {
  opacity: 1;
  visibility: visible;
}
.circle-counte {
  display: block;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  padding: 5px 5px 5px 5px;
}
.square-counte {
  display: block;
  width: 18px;
  height: 18px;
  border: none;
  padding: 7px 7px 7px 7px;
}
abbr {
  font-family: Roboto-Medium sans-serif;
}
address {
  font-family: RobotoCondensed_LightItalic sans-serif;
}
dt {
  font-family: RobotoCondensed-Light sans-serif;
}
dd {
  font-family: RobotoCondensed_LightItalic sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto-Black sans-serif;
}
figcaption {
  font-family: RobotoCondensed-Light sans-serif;
}
p {
  font-family: RobotoCondensed-Light sans-serif;
  font-size: 16px;
}
blockquote,
code {
  font-family: Roboto-ThinItalic sans-serif;
  font-size: 13px;
}
em {
  font-family: Roboto-Thin sans-serif;
}
label {
  font-family: Roboto-Regular sans-serif;
  font-size: 15px;
}
legend {
  font-family: Roboto-Light sans-serif;
}
ol,
li {
  font-family: Roboto-LightItalic sans-serif;
  font-size: 16px;
}
mark {
  font-family: Roboto-Light sans-serif;
}
strong {
  font-family: Roboto-Bold sans-serif;
}
.lovercase-txt {
  font-family: RobotoCondensed_LightItalic sans-serif;
}
.uppercase-txt {
  font-family: RobotoCondensed_LightItalic sans-serif;
  text-transform: uppercase;
}
.APP_container_flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-direction: flex-start;
  flex-grow: 1 250px;
}
.APP_fcol_1 .APP_fcol_2 .APP_fcol_3 .APP_fcol_4 {
  flex: flex 1;
}
.APP_fcol_5 .APP_fcol_6 .APP_fcol_7 .APP_fcol_8 {
  flex: flex 2;
}
.APP_fcol_9 .APP_fcol_10 .APP_fcol_11 .APP_fcol_12 {
  flex: flex 3;
}
@media (min-width: 720px) {
  .APP_container_flex {
    flex-direction: columns;
    margin: 0px;
    padding: 0px;
  }
}
@media (min-width: 480px) {
  .APP_container_flex {
    flex-direction: columns;
    margin: 0px;
    padding: 0px;
  }
}
.APP_container_grid {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr;
  justify-items: start;
  align-items: start;
  grid-template-areas: ".APP_gcol_1", ".APP_gcol_2", ".APP_gcol_3", ".APP_gcol_4", ".APP_gcol_5", ".APP_gcol_6", ".APP_gcol_7", ".APP_gcol_8", ".APP_gcol_9", ".APP_gcol_10", ".APP_gcol_11", ".APP_gcol_12";
}
/*.APP_gcol_1
.APP_gcol_2
.APP_gcol_3
.APP_gcol_4
.APP_gcol_5
.APP_gcol_6
.APP_gcol_7
.APP_gcol_8
.APP_gcol_9
.APP_gcol_10
.APP_gcol_11
.APP_gcol_12*/
@media (min-width: 720px) {
  .APP_container_grid {
    grid-template-columns: repeat(auto-fill, minmax(720px, 1fr));
  }
}
@media (min-width: 480px) {
  .APP_container_grid {
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  }
}
